@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 0, 60;
    --background-end-rgb: 80, 0, 5;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.badge{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  height: 100%;
  width: 100%;  
  background-color: gainsboro;
  border : 1px solid gray;
  color: grey
}

.badge:hover{
  background-color: lightgray;
  color: black;
}

.userName{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 10px;
  margin: 10px;
}